.rel-editor-selected {
  outline: 2px solid #ff6a00 !important;
  outline-offset: 1px !important;
  cursor: crosshair !important;
}

.rel-editor-drop-target {
  outline: 2px dashed #0082c8 !important;
  outline-offset: 2px !important;
}
