[data-rel-id="rel-added-mlmicdu6-c230ik"] {
  background-image: url("REL_assets/bg-1771085136461-59f91659d08f.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

[data-rel-id="rel-added-mlmiem3j-yxuryd"] {
  background-image: url("REL_assets/bg-1771085242808-9c1588afe2a3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 1496px;
  box-sizing: border-box;
  height: 544px;
}
