[data-rel-id="rel-mlkpexzh-2"] {
  background-color: rgba(120, 0, 0, 31);
  color: rgb(35,219,208);
  font-size: 20px;
}

[data-rel-id="rel-mlkpexzh-8"] {
  background-color: rgb(35,219,208);
  text-align: center;
}
